.background-container {
  width: 100%; /* ou la largeur souhaitée */
  height: 100%; /* ou la hauteur souhaitée */
  background-image: url("image/cookieShower1.png");
  background-size: cover;
  background-position: center;
  animation: animateBackground 10s infinite; /* 10s = durée de l'animation */
}

@keyframes animateBackground {
  0% {
    background-image: url("image/cookieShower1.png");
  }
  33.33% {
    background-image: url("image/cookieShower2.png");
  }
  66.66% {
    background-image: url("image/cookieShower3.png");
  }
  100% {
    background-image: url("image/cookieShower1.png"); /* Retour à l'image d'origine */
  }
}


@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* Appliquer l'animation à votre élément */
  .element-to-animate {
    animation: fadeIn 1s ease-out;
    opacity: 0; /* Assure que l'élément est invisible au départ */
  }
