/* CSS pour le conteneur du fond d'écran */
.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
/* Styles pour les différentes images */
.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  opacity: 0; /* Assure que toutes les images sont initialement invisibles */
  transition: opacity 1s ease-in-out; /* Transition douce de l'opacité */
  animation: infinite;
}

/* Chaque image a une classe différente pour contrôler l'ordre de l'animation */
.image1 {
  background-image: url("image/cookieShower1.png");
}
.image2 {
  background-image: url("image/cookieShower2.png");
}
.image3 {
  background-image: url("image/cookieShower3.png");
}




@-webkit-keyframes nomanimation { ... } /* -webkit- Chrome et Safari */
@-moz-keyframes nomanimation { ... } /* -moz -Firefox */
@-o-keyframes nomanimation{ ... } /* -o- Opera */
@keyframes nomanimation{ ... } /* Navigateur aux normes w3c */