body {
  padding: 0;
  margin: 0;
  background-color: #3168ff;
}



.container {
  display: block;
  width: 1113px;
  height: 999px;
  border: 1px solid white;
  background: url(image/superCookie.png) no-repeat;
  animation: superCookie 7s steps(11) infinite;
}



@keyframes superCookie {
  0% {
    background: 0 0;
  }
  /*Use height of image (sprite-sheet) here as y position*/
  100% {
    background-position: 0 -10992px;
  }
}
