body {
  padding: 0;
  margin: 0;
  background-color: #3168ff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 1000px;
  height: 1021px;
  border: 1px solid white;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  background: url(image/superCookie.png);
  /*steps = nb frames "images"*/
  animation: kick 10s steps(8) infinite;
}

@keyframes kick {
  0% {
    background: 0 0;
  }
  /*Use height of image (sprite-sheet) here as y position*/
  100% {
    background-position: 0 -7929px;
  }
}
