body{
  background: url(image/bgBlue.jpg);
  background-size: cover;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px; /* Largeur de chaque frame */
  height: 360px; /* Hauteur de chaque frame */
  background: url(image/cookieAnimation.png);
  background-repeat: no-repeat;
}




