

#animationContainer {
  width: 50%;
  height: 25%;
  background-color: lightblue;
  overflow: hidden;
}



#grandmasGrandma {
  position: absolute;
  top: 0;
  left: -64px; /* Hors écran à gauche */
  width: 65%;
  height: 100%; /* Rempli toute la hauteur du conteneur */
  background-image: url('image/grandmasGrandma.png');
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 2; /* Position au-dessus des dollars */
  visibility: hidden; /* Initialement cachée */
  animation: grandmaSrun 0.6s;
  transition: 0.1s;

}

@keyframes monanimation {
  0% {margin-left:0;}
  100% {margin-left:100px;}
  }
  div.background-container { animation-name : grandmaSrun;}

#bank {
  position: absolute;
  top: 5%;
  left: 81%;
  width: 85%;
  height: 85%;
  background-image: url('image/bank.png');
  background-size: contain;
  background-repeat: no-repeat;
}



